body 
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
}


/*Header Stuff Heree*/
header {
    background-color: #3e5902;
    padding: 1rem 2vw;
}
header h1{
    margin: 0;
    color: #adc5d9; 
}
header p {
    margin: 0;
    color: #adc5d9; 
    letter-spacing: .5px;
}

header h2{
    margin: 0;
    color: #401e17;
}

/*nav stuff goes here*/
nav {
    background-color: #6da681;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #3e5902;
    font-weight: 700;
    display:block;
    padding: .83rem 2rem   
}
nav li.active a { 
    background-color: #401e17;
    color: #8c5245;
}
nav a:hover{
    color: white;
    }

nav li.active a{
    background-color: #3e5902;
    color: #6da681;
}

/*stuff for the main*/
main {
    padding: 1rem 2vw; 
}
main h1 {
    color: #3e5902;
}

main h2 { 
    color: #3e5902;
    margin-bottom: .2rem;
}
/*mothman*/
h1{
    color:#3e5902;
}
p{
    color:#3e5902;
}
h2{
    color: #401e17;
}
li{
    color:#8c5245;
}

main p {
    color: #3e5902;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color:#efefef;
}

main dl dt{
    color: #401e17;
    font-weight:700;
}
main dl dd{
    color: #401e17;
    font-size: .9rem;
}
main ul {
    list-style-type:square
}
main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
address {
    font-style: normal;
    background-color: #6da681;
    color: #401e17;
    padding: .5rem;
    width: 15.5rem;
    border: 2px solid #401e17;
    border-radius: 10px;
    
}
address

main a{
    color: #8c5245;
}

main a:hover{
    color: #401e17;
}

figure.wrapped{
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height: auto;
    }

figure.wrapped figcaption{
    text-align: center;
    font-size: .75rem;
    color: #3e5902;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure{
    margin: .5rem 2% 0 0;
}

div.gallery {
    text-align: center;
    font-size: .8rem;
    color: #3e5902;
}


/*footer stuff here*/
footer {
    background-color: #3e5902;
    text-align: center;
    color: #6da681;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color:#6da611;
}







